.error{
  color:red;
}

ul{
  list-style: none;
}

.inscription{
  width: 450px;
  height: 150px;
  margin-left: 540px;
}

#lobby{
  margin-top: 8%;
}

#back2acc{
margin-top: 4%;
}

.answerQ{
  margin-top: 8%;
}

.cd{
  margin-top: 4%;
}

#Question{
  font-size: xx-large;
  margin-bottom: 8%;
}

.alignQ{
  display: inline-flex;
}

.alignQ li{
  margin-right: 20px;
}

#ThemeList{
  width: 52%;
  position: absolute;
  margin-left: 25%;
}

.line{
  display: block;
}

.connexion{
  margin-top: 100px;
}

#inscriptionForm{
  margin-top: 100px ;
}

#connectForm{
  margin-top: 210px ;
  position: absolute;
}

.registering{
  margin-top: 260px;
}

.connexionForm{
  width: 800px;
  position: absolute;
}

.subB{
  margin-top: 50px;
  background-color: #054A91;
  color: #DBE4EE;
}

body{
  background-color: #b1b7be;
}

.accueil{
  margin-top: 70px;
}

#disconnect{
  position: absolute;
  margin-left: 40%;
  margin-top: -60px;
  background-color: #979da3;
  color: black;
}

.biggerB{
  margin-left: 20px;
  width: 250px;
  height: 50px;
}